<h2>{{ isEditMode ? 'Edit Product' : 'New Product' }}</h2>
<form (ngSubmit)="saveProduct()">
  <label for="name">Name</label>
  <input id="name" [(ngModel)]="product.name" name="name" required>
  
  <label for="description">Description</label>
  <textarea id="description" [(ngModel)]="product.description" name="description" required></textarea>
  
  <label for="image">Image Link</label>
  <textarea id="image" [(ngModel)]="product.image" name="image" required></textarea>
  
  <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
  <button [routerLink]="['/products']">Cancel</button>
</form>